:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #282828;
  color: #00ff66;
}

h1 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  margin: 1rem 0 3rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid whitesmoke;
  border-radius: 0.3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
  font-family: serif;
}

section h3 {
  margin: 1rem 0;
  font-family: serif;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: #00ff66;
}

fieldset i.subtract {
  color: #f64545;
}

.button {
  background-color: whitesmoke;
  border: none;
  border-radius: 4px;
  color: #282828;
  padding: 15px 30px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}

.button:hover {
  background-color: #7c7c7c;
}

.button:active {
  background-color: #00ff66;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
